@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  background-color: darkgray;

  background-size: auto;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
